DOMAIN-SUFFIX,icloud-content.com
DOMAIN-SUFFIX,icloud.com
DOMAIN-SUFFIX,configuration.ls.apple.com
DOMAIN-SUFFIX,sina.com
DOMAIN-SUFFIX,sinaimg.com
DOMAIN-SUFFIX,tencent-cloud.com
DOMAIN-SUFFIX,tencent-cloud.net
USER-AGENT,com.apple.appstored*
DOMAIN-SUFFIX,cdn-apple.com
DOMAIN-SUFFIX,p22-buy.itunes.apple.com
DOMAIN-SUFFIX,ls.apple.com
DOMAIN-SUFFIX,sandbox.itunes.apple.com
DOMAIN-SUFFIX,xp.apple.com
USER-AGENT,AppStore*
DOMAIN-SUFFIX,me.com
DOMAIN-SUFFIX,akadns.net
DOMAIN-SUFFIX,akamaiedge.net
DOMAIN-SUFFIX,edgekey.net
DOMAIN-SUFFIX,mwcloudcdn.com
DOMAIN-SUFFIX,mwcname.com
DOMAIN-SUFFIX,apple-cloudkit.com
DOMAIN-SUFFIX,dnslify.com
