#自定义
DOMAIN-SUFFIX,fluxfm.de
DOMAIN-SUFFIX,streamabc.net
DOMAIN-SUFFIX,revma.com
DOMAIN-SUFFIX,playdemic.com
DOMAIN-SUFFIX,microsoft.com
DOMAIN-SUFFIX,fengshows.com
DOMAIN-SUFFIX,ip.cn
DOMAIN-SUFFIX,digicert.com
DOMAIN-SUFFIX,douyincdn.com
DOMAIN-SUFFIX,snapdrop.net
DOMAIN,stun.l.google.com
#局域网
IP-CIDR,0.0.0.0/8,no-resolve
IP-CIDR,10.0.0.0/8,no-resolve
IP-CIDR,100.64.0.0/10,no-resolve
IP-CIDR,127.0.0.0/8,no-resolve
IP-CIDR,169.254.0.0/16,no-resolve
IP-CIDR,172.16.0.0/12,no-resolve
IP-CIDR,192.0.0.0/24,no-resolve
IP-CIDR,192.0.2.0/24,no-resolve
IP-CIDR,192.168.0.0/16,no-resolve
IP-CIDR,192.88.99.0/24,no-resolve
IP-CIDR,198.18.0.0/15,no-resolve
IP-CIDR,198.51.100.0/24,no-resolve
IP-CIDR,203.0.113.0/24,no-resolve
IP-CIDR,224.0.0.0/3,no-resolve
#wechat
DOMAIN-SUFFIX,qlogo.cn
DOMAIN-SUFFIX,qpic.cn
DOMAIN-SUFFIX,servicewechat.com
DOMAIN-SUFFIX,tenpay.com
DOMAIN-SUFFIX,wechat.com
DOMAIN-SUFFIX,wechatlegal.net
DOMAIN-SUFFIX,wechatpay.com
DOMAIN-SUFFIX,weixin.com
DOMAIN-SUFFIX,weixin.qq.com
DOMAIN-SUFFIX,weixinbridge.com
DOMAIN-SUFFIX,weixinsxy.com
DOMAIN-SUFFIX,wxapp.tc.qq.com
USER-AGENT,MicroMessenger*
USER-AGENT,WeChat*
IP-CIDR,101.32.104.4/32,no-resolve
IP-CIDR,101.32.104.41/32,no-resolve
IP-CIDR,101.32.104.56/32,no-resolve
IP-CIDR,101.32.118.25/32,no-resolve
IP-CIDR,101.32.133.16/32,no-resolve
IP-CIDR,101.32.133.209/32,no-resolve
IP-CIDR,101.32.133.53/32,no-resolve
IP-CIDR,129.226.107.244/32,no-resolve
IP-CIDR,129.226.3.47/32,no-resolve
#icloud/AppStore
DOMAIN-SUFFIX,idmsa.apple.com
DOMAIN-SUFFIX,mzstatic.com
DOMAIN-SUFFIX,icloud-content.com
DOMAIN-SUFFIX,icloud.com
DOMAIN-SUFFIX,cdn-apple.com
DOMAIN-SUFFIX,p22-buy.itunes.apple.com
DOMAIN-SUFFIX,p50-buy.itunes.apple.com
DOMAIN-SUFFIX,ls.apple.com
DOMAIN-SUFFIX,sandbox.itunes.apple.com
DOMAIN-SUFFIX,xp.apple.com
DOMAIN-SUFFIX,play.itunes.apple.com
DOMAIN-SUFFIX,bag.itunes.apple.com
DOMAIN-SUFFIX,downloaddispatch.itunes.apple.com
DOMAIN-SUFFIX,pancake.apple.com
DOMAIN-SUFFIX,testflight.apple.com
DOMAIN,apps.apple.com
DOMAIN,itunes.apple.com
DOMAIN,api.smoot.apple.cn
DOMAIN-SUFFIX,aaplimg.com
DOMAIN-SUFFIX,appleicloud.cn
DOMAIN-SUFFIX,apple.com.cn
DOMAIN-SUFFIX,updates-http.cdn-apple.com
DOMAIN-SUFFIX,updates.cdn-apple.com
DOMAIN-SUFFIX,icloudsecure.net
DOMAIN-SUFFIX,icloudsetup.com
DOMAIN-SUFFIX,ios-icloud.com
USER-AGENT,AppStore*
USER-AGENT,TestFlight*
USER-AGENT,*WeatherFoundation*
DOMAIN-SUFFIX,me.com
DOMAIN-SUFFIX,akadns.net
DOMAIN-SUFFIX,akamaiedge.net
DOMAIN-SUFFIX,edgekey.net
DOMAIN-SUFFIX,mwcloudcdn.com
DOMAIN-SUFFIX,mwcname.com
DOMAIN-SUFFIX,apple-cloudkit.com
#ios升级
DOMAIN,appldnld-cdn.apple.com.akadns.net
DOMAIN,appldnld-cdn.origin-apple.com.akadns.net
DOMAIN,appldnld.apple.com.mwcname.com
DOMAIN,configuration.apple.com
DOMAIN,gdmf-cdn.apple.com.akadns.net
DOMAIN,gdmf-cdn.origin-apple.com.akadns.net
DOMAIN,gdmf-lb.apple.com.akadns.net
DOMAIN,gdmf.apple.com.mwcname.com
DOMAIN,gdmf.g.aaplimg.com
DOMAIN,gg-cdn.apple.com.akadns.net
DOMAIN,gg-cdn.origin-apple.com.akadns.net
DOMAIN,gg-lb.apple.com.akadns.net
DOMAIN,gg.apple.com
DOMAIN,gg.apple.com.akadns.net
DOMAIN,gg.apple.com.mwcname.com
DOMAIN,gg.g.aaplimg.com
DOMAIN,gnf-mdn.apple.com
DOMAIN,gnf-mr.apple.com
DOMAIN,gs.apple.com
DOMAIN,ig.apple.com
DOMAIN,iphonesubmissions-cdn.apple.com.akadns.net
DOMAIN,iphonesubmissions-cdn.origin-apple.com.akadns.net
DOMAIN,iphonesubmissions-lb.apple.com.akadns.net
DOMAIN,iphonesubmissions.apple.com
DOMAIN,iphonesubmissions.apple.com.akadns.net
DOMAIN,iphonesubmissions.apple.com.mwcname.com
DOMAIN,iphonesubmissions.g.aaplimg.com
DOMAIN,mesu-lb.apple.com.akadns.net
DOMAIN,mesu.apple.com.akadns.net
DOMAIN,mesu.apple.com.mwcname.com
DOMAIN,ns.itunes.apple.com
DOMAIN,ocsp-cdn.apple.com.akadns.net
DOMAIN,ocsp-cdn.origin-apple.com.akadns.net
DOMAIN,ocsp.apple.com.akadns.net
DOMAIN,ocsp.apple.com.mwcname.com
DOMAIN,oscdn.apple.com
DOMAIN,osrecovery.apple.com
DOMAIN,radarsubmissions-cdn.apple.com.akadns.net
DOMAIN,radarsubmissions-cdn.origin-apple.com.akadns.net
DOMAIN,radarsubmissions-lb.apple.com.akadns.net
DOMAIN,radarsubmissions.apple.com
DOMAIN,radarsubmissions.apple.com.akadns.net
DOMAIN,radarsubmissions.apple.com.mwcname.com
DOMAIN,radarsubmissions.g.aaplimg.com
DOMAIN,skl.apple.com
DOMAIN,swcdn.apple.com
DOMAIN,swdist.apple.com
DOMAIN,swdownload.apple.com
DOMAIN,swpost.apple.com
DOMAIN,swscan-cdn.apple.com.akadns.net
DOMAIN,swscan-cdn.origin-apple.com.akadns.net
DOMAIN,swscan-lb.apple.com.akadns.net
DOMAIN,swscan.apple.com
DOMAIN,swscan.apple.com.akadns.net
DOMAIN,swscan.apple.com.mwcname.com
DOMAIN,swscan.g.aaplimg.com
DOMAIN,updates-http.cdn-apple.com
DOMAIN,updates.cdn-apple.com
DOMAIN,xp-cdn.apple.com.akadns.net
DOMAIN,xp-cdn.origin-apple.com.akadns.net
DOMAIN,xp-lb.apple.com.akadns.net
DOMAIN,xp.apple.com.akadns.net
DOMAIN,xp.apple.com.mwcname.com
DOMAIN,xp.g.aaplimg.com
DOMAIN-SUFFIX,appldnld-lb.apple.com.akadns.net
DOMAIN-SUFFIX,appldnld.apple.com
DOMAIN-SUFFIX,appldnld.apple.com.akadns.net
DOMAIN-SUFFIX,appldnld.g.aaplimg.com
DOMAIN-SUFFIX,gdmf.apple.com
DOMAIN-SUFFIX,gdmf.apple.com.akadns.net
DOMAIN-SUFFIX,mesu-cdn.apple.com.akadns.net
DOMAIN-SUFFIX,mesu-cdn.origin-apple.com.akadns.net
DOMAIN-SUFFIX,mesu.apple.com
DOMAIN-SUFFIX,mesu.g.aaplimg.com
DOMAIN-SUFFIX,ocsp-lb.apple.com.akadns.net
DOMAIN-SUFFIX,ocsp.apple.com
DOMAIN-SUFFIX,ocsp.g.aaplimg.com
#custom
DOMAIN-SUFFIX,dnslify.com
DOMAIN-SUFFIX,greasyfork.org
DOMAIN-SUFFIX,microsofttranslator.com
#QQ
DOMAIN-SUFFIX,1700.cn
DOMAIN-SUFFIX,17roco.com
DOMAIN-SUFFIX,700chat.com
DOMAIN-SUFFIX,accessibilityunion.cn
DOMAIN-SUFFIX,accessibilityunion.com
DOMAIN-SUFFIX,accessibilityunion.net.cn
DOMAIN-SUFFIX,accessibilityunion.org
DOMAIN-SUFFIX,accessibilityunion.org.cn
DOMAIN-SUFFIX,agcloudcs.com
DOMAIN-SUFFIX,aitangyou.com
DOMAIN-SUFFIX,alloyteam.com
DOMAIN-SUFFIX,apcdns.com
DOMAIN-SUFFIX,apcdns.net
DOMAIN-SUFFIX,apdcdn.com
DOMAIN-SUFFIX,armaf.org
DOMAIN-SUFFIX,ating.info
DOMAIN-SUFFIX,cdn-go.cn
DOMAIN-SUFFIX,cdntip.com
DOMAIN-SUFFIX,cdntips.com
DOMAIN-SUFFIX,cdntips.net
DOMAIN-SUFFIX,cfmna-tencent.com
DOMAIN-SUFFIX,cmfu.com
DOMAIN-SUFFIX,comsenz.com
DOMAIN-SUFFIX,dayugslb.com
DOMAIN-SUFFIX,dcloudlive.com
DOMAIN-SUFFIX,dcloudstc.com
DOMAIN-SUFFIX,discuz.com
DOMAIN-SUFFIX,discuz.net
DOMAIN-SUFFIX,discuz.org
DOMAIN-SUFFIX,dllzff.cn
DOMAIN-SUFFIX,dns.pub
DOMAIN-SUFFIX,dnsapi.cn
DOMAIN-SUFFIX,dnspod.cn
DOMAIN-SUFFIX,dnspod.com
DOMAIN-SUFFIX,dnspod.com.cn
DOMAIN-SUFFIX,dnspod.net
DOMAIN-SUFFIX,dnspod.org
DOMAIN-SUFFIX,dnsv1.com
DOMAIN-SUFFIX,dnsv2.com
DOMAIN-SUFFIX,dnsv3.com
DOMAIN-SUFFIX,dnsv4.com
DOMAIN-SUFFIX,dnsv5.com
DOMAIN-SUFFIX,doh.pub
DOMAIN-SUFFIX,douyu.com
DOMAIN-SUFFIX,douyu.tv
DOMAIN-SUFFIX,douyuba.cn
DOMAIN-SUFFIX,douyucdn.cn
DOMAIN-SUFFIX,douyucdn2.cn
DOMAIN-SUFFIX,douyupcdn.cn
DOMAIN-SUFFIX,douyuscdn.com
DOMAIN-SUFFIX,douyutv.com
DOMAIN-SUFFIX,doyonoc.com
DOMAIN-SUFFIX,ettdnsv.com
DOMAIN-SUFFIX,fatfreader.com
DOMAIN-SUFFIX,flzhan.cn
DOMAIN-SUFFIX,flzhan.com
DOMAIN-SUFFIX,foxmail.com
DOMAIN-SUFFIX,foxmail.com.cn
DOMAIN-SUFFIX,fsllq.com
DOMAIN-SUFFIX,fsllq.com.cn
DOMAIN-SUFFIX,fyeds0.com
DOMAIN-SUFFIX,fyeds1.com
DOMAIN-SUFFIX,fyeds2.com
DOMAIN-SUFFIX,fyeds3.com
DOMAIN-SUFFIX,fyeds4.com
DOMAIN-SUFFIX,fyeds5.com
DOMAIN-SUFFIX,fyeds6.com
DOMAIN-SUFFIX,fyeds7.com
DOMAIN-SUFFIX,fyeds8.com
DOMAIN-SUFFIX,fyeds9.com
DOMAIN-SUFFIX,gaapqcloud.com
DOMAIN-SUFFIX,gameitop.com
DOMAIN-SUFFIX,gameloop.fun
DOMAIN-SUFFIX,gcloudcs.com
DOMAIN-SUFFIX,gdtimg.com
DOMAIN-SUFFIX,gsadds.com
DOMAIN-SUFFIX,gtgres.com
DOMAIN-SUFFIX,gtimg.cn
DOMAIN-SUFFIX,gtimg.com
DOMAIN-SUFFIX,gtimg.com.cn
DOMAIN-SUFFIX,guichuideng.com
DOMAIN-SUFFIX,haina.com
DOMAIN-SUFFIX,hkgcloudcs.com
DOMAIN-SUFFIX,hongxiu.com
DOMAIN-SUFFIX,hr-welink.com
DOMAIN-SUFFIX,html5mark.com
DOMAIN-SUFFIX,huamengxiaoshuo.com
DOMAIN-SUFFIX,huya.com
DOMAIN-SUFFIX,huyagame.cn
DOMAIN-SUFFIX,huyaos.com
DOMAIN-SUFFIX,idqqimg.com
DOMAIN-SUFFIX,igamecj.com
DOMAIN-SUFFIX,igcdn.cn
DOMAIN-SUFFIX,imqq.com
DOMAIN-SUFFIX,imweb.io
DOMAIN-SUFFIX,in.th
DOMAIN-SUFFIX,isd.com
DOMAIN-SUFFIX,ivweb.io
DOMAIN-SUFFIX,jiangzidushu.com
DOMAIN-SUFFIX,jiangzikanshu.cn
DOMAIN-SUFFIX,jiangzikanshu.com
DOMAIN-SUFFIX,jiangziyuedu.com
DOMAIN-SUFFIX,jrzk.net.cn
DOMAIN-SUFFIX,kting.info
DOMAIN-SUFFIX,kuledushu.com
DOMAIN-SUFFIX,lazyaudio.com
DOMAIN-SUFFIX,lexiangla.com
DOMAIN-SUFFIX,lightalk.com
DOMAIN-SUFFIX,lrts.me
DOMAIN-SUFFIX,miloli.info
DOMAIN-SUFFIX,mmbizurl.cn
DOMAIN-SUFFIX,mmqidian.com
DOMAIN-SUFFIX,mobilemgr-global.com
DOMAIN-SUFFIX,molo.cn
DOMAIN-SUFFIX,mqqurl.com
DOMAIN-SUFFIX,msstatic.com
DOMAIN-SUFFIX,mting.info
DOMAIN-SUFFIX,my-qcloud.com
DOMAIN-SUFFIX,myapp.com
DOMAIN-SUFFIX,myqcloud.com
DOMAIN-SUFFIX,myqcloud.net
DOMAIN-SUFFIX,nagcloudcs.com
DOMAIN-SUFFIX,nba.com
DOMAIN-SUFFIX,onexmail.com
DOMAIN-SUFFIX,ovscdns.com
DOMAIN-SUFFIX,ovscdns.net
DOMAIN-SUFFIX,oywtv.com
DOMAIN-SUFFIX,pcmgr-global.com
DOMAIN-SUFFIX,peiwanlu.com
DOMAIN-SUFFIX,pengyou.com
DOMAIN-SUFFIX,prayaya.com
DOMAIN-SUFFIX,pubgtool.com
DOMAIN-SUFFIX,qbview.com
DOMAIN-SUFFIX,qcloud.com
DOMAIN-SUFFIX,qcloud.la
DOMAIN-SUFFIX,qcloudcdn.cn
DOMAIN-SUFFIX,qcloudcdn.com
DOMAIN-SUFFIX,qcloudcdntest.cn
DOMAIN-SUFFIX,qcloudcjgj.com
DOMAIN-SUFFIX,qcloudcos.com
DOMAIN-SUFFIX,qclouder.com
DOMAIN-SUFFIX,qcloudimg.com
DOMAIN-SUFFIX,qcloudmarket.com
DOMAIN-SUFFIX,qcloudwaf.com
DOMAIN-SUFFIX,qcloudwzgj.com
DOMAIN-SUFFIX,qcloudzygj.com
DOMAIN-SUFFIX,qdcloudsolution.com
DOMAIN-SUFFIX,qdd.gd
DOMAIN-SUFFIX,qdd.gg
DOMAIN-SUFFIX,qdd.la
DOMAIN-SUFFIX,qdmm.com
DOMAIN-SUFFIX,qdwenxue.com
DOMAIN-SUFFIX,qidian.cn
DOMAIN-SUFFIX,qidian.com
DOMAIN-SUFFIX,qidianmm.com
DOMAIN-SUFFIX,qlippie.com
DOMAIN-SUFFIX,qlogo.cn
DOMAIN-SUFFIX,qmail.com
DOMAIN-SUFFIX,qpic.cn
DOMAIN-SUFFIX,qpimg.cn
DOMAIN-SUFFIX,qplus.com
DOMAIN-SUFFIX,qqgameapp.com
DOMAIN-SUFFIX,qqgames.com
DOMAIN-SUFFIX,qqmail.com
DOMAIN-SUFFIX,qqopenapp.com
DOMAIN-SUFFIX,qqurl.com
DOMAIN-SUFFIX,qstatic.com
DOMAIN-SUFFIX,qzone.com
DOMAIN-SUFFIX,qzoneapp.com
DOMAIN-SUFFIX,rdgz.org
DOMAIN-SUFFIX,readnovel.com
DOMAIN-SUFFIX,rmwxgame.com
DOMAIN-SUFFIX,roblox.cn
DOMAIN-SUFFIX,romzj.com
DOMAIN-SUFFIX,rootjl.com
DOMAIN-SUFFIX,rtx.com.cn
DOMAIN-SUFFIX,rtxapp.com
DOMAIN-SUFFIX,rtxonline.com
DOMAIN-SUFFIX,safejmp.com
DOMAIN-SUFFIX,servicewechat.com
DOMAIN-SUFFIX,shuame.com
DOMAIN-SUFFIX,shurl.cn
DOMAIN-SUFFIX,sixjoy.com
DOMAIN-SUFFIX,smtcdns.com
DOMAIN-SUFFIX,smtcdns.net
DOMAIN-SUFFIX,snapplay.com
DOMAIN-SUFFIX,soso.com
DOMAIN-SUFFIX,spcdntip.com
DOMAIN-SUFFIX,ssibility-union.com.cn
DOMAIN-SUFFIX,supercellsupport.cn
DOMAIN-SUFFIX,taotao.com
DOMAIN-SUFFIX,tapd.cn
DOMAIN-SUFFIX,tav-global.com
DOMAIN-SUFFIX,tcdnhw.com
DOMAIN-SUFFIX,tcdnlive.com
DOMAIN-SUFFIX,tcdnos.com
DOMAIN-SUFFIX,tcdnvod.com
DOMAIN-SUFFIX,tcloudbase.com
DOMAIN-SUFFIX,tcloudbaseapp.com
DOMAIN-SUFFIX,tcloudscdn.com
DOMAIN-SUFFIX,tcloudscdn.net
DOMAIN-SUFFIX,tdnsv1.com
DOMAIN-SUFFIX,tdnsv5.com
DOMAIN-SUFFIX,tdnsv6.com
DOMAIN-SUFFIX,tencdns.net
DOMAIN-SUFFIX,tencent-cloud.com
DOMAIN-SUFFIX,tencent-cloud.net
DOMAIN-SUFFIX,tencent.cn
DOMAIN-SUFFIX,tencent.com
DOMAIN-SUFFIX,tencent.com.cn
DOMAIN-SUFFIX,tencent.com.hk
DOMAIN-SUFFIX,tencent.net.cn
DOMAIN-SUFFIX,tencentads.com
DOMAIN-SUFFIX,tencentapps.com
DOMAIN-SUFFIX,tencentcdb.com
DOMAIN-SUFFIX,tencentclb.com
DOMAIN-SUFFIX,tencentcloud-aiot.com
DOMAIN-SUFFIX,tencentcloudapi.com
DOMAIN-SUFFIX,tencentcloudcr.com
DOMAIN-SUFFIX,tencentcloudmarket.com
DOMAIN-SUFFIX,tencentcs.com
DOMAIN-SUFFIX,tencentdb.com
DOMAIN-SUFFIX,tencentelasticsearch.com
DOMAIN-SUFFIX,tencentipv6.com
DOMAIN-SUFFIX,tencentlog.com
DOMAIN-SUFFIX,tencentmind.com
DOMAIN-SUFFIX,tencentmusic.com
DOMAIN-SUFFIX,tencentyun.com
DOMAIN-SUFFIX,tenpay.com
DOMAIN-SUFFIX,testjrzk.net.cn
DOMAIN-SUFFIX,tgovcloud.com
DOMAIN-SUFFIX,timatrix.com.cn
DOMAIN-SUFFIX,tingbook.com
DOMAIN-SUFFIX,tisi.org
DOMAIN-SUFFIX,tos.cn
DOMAIN-SUFFIX,tourismshow.cn
DOMAIN-SUFFIX,tourismuser.cn
DOMAIN-SUFFIX,tqapp.cn
DOMAIN-SUFFIX,tqapp.com
DOMAIN-SUFFIX,tsparkling.com
DOMAIN-SUFFIX,tswjs.org
DOMAIN-SUFFIX,twsapp.com
DOMAIN-SUFFIX,tx-exhibition.com
DOMAIN-SUFFIX,txbanche.com
DOMAIN-SUFFIX,txyscdn.com
DOMAIN-SUFFIX,txyscdn.net
DOMAIN-SUFFIX,ugdtimg.com
DOMAIN-SUFFIX,upqzfile.com
DOMAIN-SUFFIX,upqzfilebk.com
DOMAIN-SUFFIX,url.cn
DOMAIN-SUFFIX,urldx.cn
DOMAIN-SUFFIX,urlshare.cn
DOMAIN-SUFFIX,voovlive.com
DOMAIN-SUFFIX,wanjiashow.com
DOMAIN-SUFFIX,webnovel.com
DOMAIN-SUFFIX,wechatlegal.net
DOMAIN-SUFFIX,wechatpay.com
DOMAIN-SUFFIX,wechatpay.com.hk
DOMAIN-SUFFIX,wegame.com
DOMAIN-SUFFIX,wegame.com.cn
DOMAIN-SUFFIX,weiaixiaoshuo.com
DOMAIN-SUFFIX,weishi.com
DOMAIN-SUFFIX,weixin.com
DOMAIN-SUFFIX,weixinbridge.com
DOMAIN-SUFFIX,weixinsxy.com
DOMAIN-SUFFIX,weiyun.com
DOMAIN-SUFFIX,wesingapp.com
DOMAIN-SUFFIX,weui.io
DOMAIN-SUFFIX,wisefx.cn
DOMAIN-SUFFIX,wisefx.com
DOMAIN-SUFFIX,wnsqzonebk.com
DOMAIN-SUFFIX,woa.com
DOMAIN-SUFFIX,wting.info
DOMAIN-SUFFIX,wxgamemini.com
DOMAIN-SUFFIX,wxlagame.com
DOMAIN-SUFFIX,wxutil.com
DOMAIN-SUFFIX,xdxiaoshuo.com
DOMAIN-SUFFIX,xn--r70as2s.xn--fiqs8s
DOMAIN-SUFFIX,xs.cn
DOMAIN-SUFFIX,xs8.cn
DOMAIN-SUFFIX,xuz0.cn
DOMAIN-SUFFIX,xxsy.com
DOMAIN-SUFFIX,xxsy.net
DOMAIN-SUFFIX,yayagushi.cn
DOMAIN-SUFFIX,yayagushi.com
DOMAIN-SUFFIX,yqacg.com
DOMAIN-SUFFIX,yuewen.com
DOMAIN-SUFFIX,yux.team
DOMAIN-SUFFIX,ywurl.cn
DOMAIN-SUFFIX,ywurl.com
DOMAIN-SUFFIX,yximg.cn
IP-CIDR,103.238.16.0/23,no-resolve
IP-CIDR,103.7.28.0/22,no-resolve
USER-AGENT,MOO%E9%9F%B3%E4%B9%90*
USER-AGENT,QQ%E9%9F%B3%E4%B9%90
USER-AGENT,TencentMidasConnect*
#sina
DOMAIN-SUFFIX,001wifi.com
DOMAIN-SUFFIX,1kapp.com
DOMAIN-SUFFIX,4sender.com
DOMAIN-SUFFIX,4sender.net
DOMAIN-SUFFIX,51xiancheng.com
DOMAIN-SUFFIX,7g8g.cn
DOMAIN-SUFFIX,aduspot.com
DOMAIN-SUFFIX,appchizi.com
DOMAIN-SUFFIX,applinzi.com
DOMAIN-SUFFIX,appsina.com
DOMAIN-SUFFIX,ctws.com.cn
DOMAIN-SUFFIX,cva.com.cn
DOMAIN-SUFFIX,dnssina.com
DOMAIN-SUFFIX,huoxing.com
DOMAIN-SUFFIX,ikaola.cn
DOMAIN-SUFFIX,ilangqu.cn
DOMAIN-SUFFIX,ilangqu.com
DOMAIN-SUFFIX,ilangqu.com.cn
DOMAIN-SUFFIX,imark.cn
DOMAIN-SUFFIX,kandian.cn
DOMAIN-SUFFIX,kandian.com
DOMAIN-SUFFIX,kandian.net
DOMAIN-SUFFIX,kandian.tv
DOMAIN-SUFFIX,kanyouxi.cn
DOMAIN-SUFFIX,kanyouxi.com
DOMAIN-SUFFIX,kanyouxi.com.cn
DOMAIN-SUFFIX,kanyouxi.tv
DOMAIN-SUFFIX,leju.com
DOMAIN-SUFFIX,maileds.com
DOMAIN-SUFFIX,miaopai.com
DOMAIN-SUFFIX,mingxigu.com
DOMAIN-SUFFIX,paogame.cn
DOMAIN-SUFFIX,picself.cn
DOMAIN-SUFFIX,picself.com.cn
DOMAIN-SUFFIX,qingmail.cn
DOMAIN-SUFFIX,qingmail.com
DOMAIN-SUFFIX,saebbs.com
DOMAIN-SUFFIX,sc2yun.com
DOMAIN-SUFFIX,senderline.com
DOMAIN-SUFFIX,senderline.net
DOMAIN-SUFFIX,simadata.cn
DOMAIN-SUFFIX,sina.cn
DOMAIN-SUFFIX,sina.com
DOMAIN-SUFFIX,sina.com.cn
DOMAIN-SUFFIX,sina.net
DOMAIN-SUFFIX,sinaapp.com
DOMAIN-SUFFIX,sinacdn.com
DOMAIN-SUFFIX,sinacloud.cn
DOMAIN-SUFFIX,sinacloud.com
DOMAIN-SUFFIX,sinacloud.com.cn
DOMAIN-SUFFIX,sinacloud.net
DOMAIN-SUFFIX,sinacorp.cn
DOMAIN-SUFFIX,sinadaxue.cn
DOMAIN-SUFFIX,sinadaxue.com
DOMAIN-SUFFIX,sinadaxue.com.cn
DOMAIN-SUFFIX,sinaedge.cn
DOMAIN-SUFFIX,sinaedge.com
DOMAIN-SUFFIX,sinaimg.cn
DOMAIN-SUFFIX,sinaimg.com
DOMAIN-SUFFIX,sinaimg.com.cn
DOMAIN-SUFFIX,sinajs.cn
DOMAIN-SUFFIX,sinanet.com
DOMAIN-SUFFIX,sinanode.com
DOMAIN-SUFFIX,sinas3.com
DOMAIN-SUFFIX,sinas3.net
DOMAIN-SUFFIX,sinastorage.cn
DOMAIN-SUFFIX,sinastorage.com
DOMAIN-SUFFIX,sinasws.com
DOMAIN-SUFFIX,sinauda.com
DOMAIN-SUFFIX,sinaurl.cn
DOMAIN-SUFFIX,smtcdn.com
DOMAIN-SUFFIX,t.cn
DOMAIN-SUFFIX,talldns.cn
DOMAIN-SUFFIX,talldns.com
DOMAIN-SUFFIX,talldns.net
DOMAIN-SUFFIX,twgame.cn
DOMAIN-SUFFIX,twgame.com.cn
DOMAIN-SUFFIX,ufc.cn
DOMAIN-SUFFIX,videoself.cn
DOMAIN-SUFFIX,vipappsina.com
DOMAIN-SUFFIX,vipsinaapp.com
DOMAIN-SUFFIX,vmoso.cn
DOMAIN-SUFFIX,volleychina.org
DOMAIN-SUFFIX,vshoucang.com
DOMAIN-SUFFIX,wan68.com
DOMAIN-SUFFIX,wapone.net
DOMAIN-SUFFIX,wbimg.cn
DOMAIN-SUFFIX,wbimg.com
DOMAIN-SUFFIX,wbimg.com.cn
DOMAIN-SUFFIX,wcdn.cn
DOMAIN-SUFFIX,weipan.cn
DOMAIN-SUFFIX,weipan.com.cn
DOMAIN-SUFFIX,xiaoka.tv
DOMAIN-SUFFIX,yangfan.org.cn
