# NAME: cloudflare
DOMAIN-SUFFIX,cloudflare-dns.com
DOMAIN-SUFFIX,cloudflare-ipfs.com
DOMAIN-SUFFIX,cloudflare-quic.com
DOMAIN-SUFFIX,cloudflare.com
DOMAIN-SUFFIX,cloudflare.net
DOMAIN-SUFFIX,cloudflareapps.com
DOMAIN-SUFFIX,cloudflarebolt.com
DOMAIN-SUFFIX,cloudflareclient.com
DOMAIN-SUFFIX,cloudflareinsights.com
DOMAIN-SUFFIX,cloudflareok.com
DOMAIN-SUFFIX,cloudflareresolve.com
DOMAIN-SUFFIX,cloudflaressl.com
DOMAIN-SUFFIX,cloudflarestatus.com
DOMAIN-SUFFIX,cloudflarestream.com
DOMAIN-SUFFIX,cloudflaretest.com
DOMAIN-SUFFIX,cloudflarewarp.com
DOMAIN-SUFFIX,one.one.one
DOMAIN-SUFFIX,pages.dev
DOMAIN-SUFFIX,trycloudflare.com
DOMAIN-SUFFIX,videodelivery.net
DOMAIN-SUFFIX,warp.plus
DOMAIN-SUFFIX,workers.dev
IP-CIDR,103.21.244.0/22,no-resolve
IP-CIDR,103.22.200.0/22,no-resolve
IP-CIDR,103.31.4.0/22,no-resolve
IP-CIDR,104.16.0.0/12,no-resolve
IP-CIDR,108.162.192.0/18,no-resolve
IP-CIDR,131.0.72.0/22,no-resolve
IP-CIDR,141.101.64.0/18,no-resolve
IP-CIDR,162.158.0.0/15,no-resolve
IP-CIDR,172.64.0.0/13,no-resolve
IP-CIDR,173.245.48.0/20,no-resolve
IP-CIDR,188.114.96.0/20,no-resolve
IP-CIDR,190.93.240.0/20,no-resolve
IP-CIDR,197.234.240.0/22,no-resolve
IP-CIDR,198.41.128.0/17,no-resolve
# NAME: GitHub
DOMAIN-SUFFIX,atom.io
DOMAIN-SUFFIX,dependabot.com
DOMAIN-SUFFIX,ghcr.io
DOMAIN-SUFFIX,git.io
DOMAIN-SUFFIX,myoctocat.com
DOMAIN-SUFFIX,npm.community
DOMAIN-SUFFIX,npmjs.com
DOMAIN-SUFFIX,npmjs.org
DOMAIN-SUFFIX,rawgit.com
DOMAIN-KEYWORD,github
# NAME: Spotify
DOMAIN-SUFFIX,pscdn.co
DOMAIN-SUFFIX,scdn.co
DOMAIN-SUFFIX,spoti.fi
DOMAIN-SUFFIX,spotify-com.akamaized.net
DOMAIN-SUFFIX,spotify-everywhere.com
DOMAIN-SUFFIX,spotify.design
DOMAIN-SUFFIX,spotifycdn.com
DOMAIN-SUFFIX,spotifycdn.net
DOMAIN-SUFFIX,spotifycharts.com
DOMAIN-SUFFIX,spotifycodes.com
DOMAIN-SUFFIX,spotifyforbrands.com
DOMAIN-SUFFIX,spotifyjobs.com
DOMAIN-KEYWORD,-spotify-com
DOMAIN-KEYWORD,spotify.com
IP-CIDR,35.186.224.47/32,no-resolve
USER-AGENT,*Spotify*
USER-AGENT,Spotify*
# NAME: Spark
DOMAIN-SUFFIX,amplitude.com
DOMAIN-SUFFIX,firebaseio.com
DOMAIN-SUFFIX,hockeyapp.net
DOMAIN-SUFFIX,readdle.com
DOMAIN-SUFFIX,smartmailcloud.com
DOMAIN-SUFFIX,pm.me
DOMAIN-SUFFIX,protonmail.ch
DOMAIN-SUFFIX,protonmail.com
DOMAIN-SUFFIX,protonstatus.com
# NAME: Telegram
DOMAIN-SUFFIX,comments.app
DOMAIN-SUFFIX,graph.org
DOMAIN-SUFFIX,stel.com
DOMAIN-SUFFIX,t.me
DOMAIN-SUFFIX,tdesktop.com
DOMAIN-SUFFIX,telega.one
DOMAIN-SUFFIX,telegra.ph
DOMAIN-SUFFIX,telesco.pe
DOMAIN-SUFFIX,tg.dev
DOMAIN-SUFFIX,tx.me
DOMAIN-KEYWORD,nicegram
DOMAIN-KEYWORD,telegram
IP-CIDR,109.239.140.0/24,no-resolve
IP-CIDR,149.154.160.0/20,no-resolve
IP-CIDR,185.76.151.0/24,no-resolve
IP-CIDR,91.105.192.0/23,no-resolve
IP-CIDR,91.108.0.0/16,no-resolve
IP-CIDR,95.161.64.0/20,no-resolve
IP-CIDR,91.108.12.0/22,no-resolve
IP-CIDR,91.108.16.0/22,no-resolve
IP-CIDR,91.108.56.0/22,no-resolve
IP-CIDR,149.154.160.0/20,no-resolve
IP-CIDR,91.108.4.0/22,no-resolve
IP-CIDR,91.108.8.0/22,no-resolve
# NAME: TIKTOK
USER-AGENT,TikTok*
DOMAIN-SUFFIX,amemv.com
DOMAIN-SUFFIX,byteoversea.com
DOMAIN-SUFFIX,ibytedtos.com
DOMAIN-SUFFIX,ibyteimg.com
DOMAIN-SUFFIX,ipstatp.com
DOMAIN-SUFFIX,muscdn.com
DOMAIN-SUFFIX,musical.ly
DOMAIN-SUFFIX,sgpstatp.com
DOMAIN-SUFFIX,snssdk.com
DOMAIN-SUFFIX,tik-tokapi.com
DOMAIN-SUFFIX,tiktok.com
DOMAIN-SUFFIX,tiktokcdn.com
DOMAIN-SUFFIX,tiktokv.com
DOMAIN-KEYWORD,-tiktokcdn-com
# NAME: Reddit/Bitwarden/ifttt
DOMAIN-SUFFIX,redd.it
DOMAIN-SUFFIX,reddit.com
DOMAIN-SUFFIX,redditmail.com
DOMAIN-SUFFIX,redditmedia.com
DOMAIN-SUFFIX,redditstatic.com
DOMAIN-SUFFIX,bitwarden.com
DOMAIN-SUFFIX,appcenter.ms
DOMAIN-SUFFIX,pki.goog
DOMAIN-SUFFIX,getpocket.com
DOMAIN-SUFFIX,pocket-image-cache.com
DOMAIN-SUFFIX,ctfassets.net
DOMAIN-SUFFIX,rudderlabs.com
DOMAIN-SUFFIX,fbsbx.com
# NAME: Apple Music
USER-AGENT,Music*
DOMAIN-KEYWORD,aod.itunes.apple.com
DOMAIN-KEYWORD,audio-ssl.itunes.apple.com
DOMAIN-KEYWORD,audio.itunes.apple.com
DOMAIN-KEYWORD,mvod.itunes.apple.com
DOMAIN-KEYWORD,streamingaudio.itunes.apple.com
DOMAIN-KEYWORD,blobstore.apple.com
DOMAIN-KEYWORD,music.apple.com
DOMAIN-KEYWORD,time.apple.com
DOMAIN-KEYWORD,itsliveradio.apple.com
DOMAIN-KEYWORD,play.itunes.apple.com
DOMAIN-KEYWORD,bag.itunes.apple.com
DOMAIN-KEYWORD,tv.applemusic.com
DOMAIN-KEYWORD,covers.webradio.tools
DOMAIN-KEYWORD,amp-api-edge.music.apple.com
DOMAIN-KEYWORD,amp-api.music.apple.com
DOMAIN-KEYWORD,init.itunes.apple.com
DOMAIN-KEYWORD,client-api.itunes.apple.com
DOMAIN-KEYWORD,itsliveradiobackup.apple.com
DOMAIN-KEYWORD,cma.itunes.apple.com
DOMAIN-KEYWORD,radio-activity.itunes.apple.com
DOMAIN-KEYWORD,radio.itunes.apple.com
DOMAIN-KEYWORD,amp-api.podcasts.apple.com
DOMAIN-KEYWORD,news-assets.apple.com
DOMAIN-KEYWORD,mzstatic.com
DOMAIN-SUFFIX,defjay.com
DOMAIN-SUFFIX,dribbcast.com
DOMAIN-SUFFIX,ihrhls.com
DOMAIN-SUFFIX,akamaistream.net
DOMAIN-SUFFIX,streamguys.com
DOMAIN-SUFFIX,streamguys1.com
DOMAIN-SUFFIX,streamtheworld.com
DOMAIN-SUFFIX,houstonpublicmedia.org
DOMAIN-SUFFIX,soundvideostar.com
DOMAIN-SUFFIX,akamaihd.net
DOMAIN-SUFFIX,pdst.fm
DOMAIN-SUFFIX,podtrac.com
DOMAIN-SUFFIX,soundon.fm
DOMAIN-SUFFIX,radiotime.com
DOMAIN-SUFFIX,radiojar.com
DOMAIN-SUFFIX,ic975.com
DOMAIN-SUFFIX,leanstream.co
DOMAIN-SUFFIX,revma.com
DOMAIN-SUFFIX,crooze.fm
USER-AGENT,AppleCoreMedia*
# NAME: Twitter
DOMAIN-SUFFIX,periscope.tv
DOMAIN-SUFFIX,pscp.tv
DOMAIN-SUFFIX,t.co
DOMAIN-SUFFIX,tellapart.com
DOMAIN-SUFFIX,tweetdeck.com
DOMAIN-SUFFIX,twimg.co
DOMAIN-SUFFIX,twimg.com
DOMAIN-SUFFIX,twimg.org
DOMAIN-SUFFIX,twitpic.com
DOMAIN-SUFFIX,twtrdns.net
DOMAIN-SUFFIX,twttr.com
DOMAIN-SUFFIX,vine.co
DOMAIN-KEYWORD,twitter
IP-CIDR,104.244.42.0/21,no-resolve
IP-CIDR,192.133.76.0/22,no-resolve
IP-CIDR,199.16.156.0/22,no-resolve
IP-CIDR,199.59.148.0/22,no-resolve
IP-CIDR,199.96.56.0/21,no-resolve
IP-CIDR,202.160.128.0/22,no-resolve
IP-CIDR,209.237.192.0/19,no-resolve
IP-CIDR,69.195.160.0/19,no-resolve
# NAME: Wikipedia
DOMAIN-SUFFIX,mediawiki.org
DOMAIN-SUFFIX,wikibooks.org
DOMAIN-SUFFIX,wikidata.org
DOMAIN-SUFFIX,wikileaks.org
DOMAIN-SUFFIX,wikimedia.org
DOMAIN-SUFFIX,wikinews.org
DOMAIN-SUFFIX,wikipedia.org
DOMAIN-SUFFIX,wikiquote.org
DOMAIN-SUFFIX,wikisource.org
DOMAIN-SUFFIX,wikiversity.org
DOMAIN-SUFFIX,wikivoyage.org
DOMAIN-SUFFIX,wiktionary.org
DOMAIN-SUFFIX,toolforge.org
DOMAIN-SUFFIX,w.wiki
DOMAIN-SUFFIX,wmcloud.org
DOMAIN-SUFFIX,wmflabs.org
DOMAIN-SUFFIX,wmfusercontent.org
# NAME: Whatsapp
DOMAIN-KEYWORD,facebook
DOMAIN-KEYWORD,fbcdn
DOMAIN-SUFFIX,cdninstagram.com
DOMAIN-SUFFIX,instagram.com
DOMAIN-SUFFIX,bintray.com
DOMAIN-KEYWORD,whatsapp
IP-CIDR,108.168.174.0/16,no-resolve
IP-CIDR,158.85.224.160/27,no-resolve
IP-CIDR,158.85.46.128/27,no-resolve
IP-CIDR,158.85.5.192/27,no-resolve
IP-CIDR,173.192.222.160/27,no-resolve
IP-CIDR,173.192.231.32/27,no-resolve
IP-CIDR,174.37.243.0/16,no-resolve
IP-CIDR,18.194.0.0/15,no-resolve
IP-CIDR,184.173.128.0/17,no-resolve
IP-CIDR,208.43.122.128/27,no-resolve
IP-CIDR,34.224.0.0/12,no-resolve
IP-CIDR,50.22.198.204/30,no-resolve
IP-CIDR,54.242.0.0/15,no-resolve
IP-CIDR,69.171.235.0/16,no-resolve
IP-CIDR,75.126.150.0/16,no-resolve
# NAME: YouTube and Google
DOMAIN,yt3.ggpht.com
DOMAIN-SUFFIX,ggpht.cn
DOMAIN-SUFFIX,ggpht.com
DOMAIN-SUFFIX,googlevideo.com
DOMAIN-SUFFIX,gvt2.com
DOMAIN-SUFFIX,youtu.be
DOMAIN-SUFFIX,yt.be
DOMAIN-SUFFIX,ytimg.com
DOMAIN-KEYWORD,youtube
IP-CIDR,172.110.32.0/21,no-resolve
IP-CIDR,216.73.80.0/20,no-resolve
USER-AGENT,*youtube*
USER-AGENT,YouTube*
USER-AGENT,com.google.ios.youtube*
DOMAIN-SUFFIX,goo.gl
DOMAIN-SUFFIX,web.app
DOMAIN-SUFFIX,web.dev
DOMAIN-KEYWORD,appspot
DOMAIN-KEYWORD,blogspot
DOMAIN-KEYWORD,gmail
DOMAIN-KEYWORD,google
DOMAIN-KEYWORD,googlesource
DOMAIN-KEYWORD,gstatic
DOMAIN-KEYWORD,recaptcha
DOMAIN-KEYWORD,www.google.
IP-CIDR,173.194.0.0/16,no-resolve
IP-CIDR,74.125.0.0/16,no-resolv
# NAME: WWWed
DOMAIN-SUFFIX,bf99.com
DOMAIN-SUFFIX,bldimg.com
DOMAIN-SUFFIX,bldlive.com
DOMAIN-SUFFIX,blue-city.com
DOMAIN-SUFFIX,blued.cn
DOMAIN-SUFFIX,blued.com
DOMAIN-SUFFIX,bluedgames.cn
DOMAIN-SUFFIX,bluedgames.com
DOMAIN-SUFFIX,bluedimg.cn
DOMAIN-SUFFIX,bluedimg.com
DOMAIN-SUFFIX,budimg.cn
DOMAIN-SUFFIX,caihongqi.com
DOMAIN-SUFFIX,danlan.org
DOMAIN-SUFFIX,danlancare.cn
DOMAIN-SUFFIX,danlancare.com
DOMAIN-SUFFIX,danlanlove.cn
DOMAIN-SUFFIX,danlanlove.com
DOMAIN-SUFFIX,fleeper.com
DOMAIN-SUFFIX,irisdt.cn
DOMAIN-SUFFIX,irisdt.com
DOMAIN-SUFFIX,irisdt.net
DOMAIN-SUFFIX,irisgw.cn
DOMAIN-SUFFIX,irisgw.com
DOMAIN-SUFFIX,irisgw.net
DOMAIN-SUFFIX,ourbluecity.cn
DOMAIN-SUFFIX,ourbluecity.com
DOMAIN-SUFFIX,xiaogegelive.cn
DOMAIN-SUFFIX,xiaogegelive.com
DOMAIN-SUFFIX,xiaolanapp.com
DOMAIN-SUFFIX,yijian-app.cn
DOMAIN-SUFFIX,yijian-app.com
# NAME: BBC/cnn/voa
DOMAIN-SUFFIX,bbc
DOMAIN-SUFFIX,bbc.co
DOMAIN-SUFFIX,bbc.co.uk
DOMAIN-SUFFIX,bbc.com
DOMAIN-SUFFIX,bbc.in
DOMAIN-SUFFIX,bbc.net.uk
DOMAIN-SUFFIX,bbcchinese.com
DOMAIN-SUFFIX,bbci.co
DOMAIN-SUFFIX,bbci.co.uk
DOMAIN-SUFFIX,bbcmedia.co.uk
DOMAIN-SUFFIX,bbcpersian.com
DOMAIN-SUFFIX,bbcverticals.com
DOMAIN-SUFFIX,bidi.net.uk
DOMAIN-KEYWORD,bbcfmt
DOMAIN-KEYWORD,uk-live
DOMAIN-SUFFIX,cnn.com
DOMAIN-SUFFIX,cnn.io
DOMAIN-SUFFIX,cnn.it
DOMAIN-SUFFIX,cnnarabic.com
DOMAIN-SUFFIX,cnnlabs.com
DOMAIN-SUFFIX,cnnmoney.ch
DOMAIN-SUFFIX,amerikaninsesi.com
DOMAIN-SUFFIX,amerikaninsesi.org
DOMAIN-SUFFIX,amerikaovozi.com
DOMAIN-SUFFIX,amerikayidzayn.com
DOMAIN-SUFFIX,amerikiskhma.com
DOMAIN-SUFFIX,bbg.gov
DOMAIN-SUFFIX,dengeamerika.com
DOMAIN-SUFFIX,dengiamerika.com
DOMAIN-SUFFIX,glasamerike.net
DOMAIN-SUFFIX,golos-ameriki.ru
DOMAIN-SUFFIX,golosameriki.com
DOMAIN-SUFFIX,persagg.com
DOMAIN-KEYWORD,voa
DOMAIN-SUFFIX,zeriamerikes.com
# NAME: news
DOMAIN-KEYWORD,simplenote
DOMAIN-KEYWORD,simperium
DOMAIN-SUFFIX,simplelogin.io
DOMAIN-KEYWORD,wordpress
DOMAIN-KEYWORD,jsdelivr
DOMAIN-SUFFIX,wp.com
DOMAIN-KEYWORD,amazonaws
DOMAIN-SUFFIX,feedly.com
DOMAIN-SUFFIX,mohu.rocks
DOMAIN-SUFFIX,timednews.com
DOMAIN-SUFFIX,dwnews.com
DOMAIN-SUFFIX,dwnews.net
DOMAIN-SUFFIX,jifo.co
DOMAIN-SUFFIX,infogram.com
DOMAIN-SUFFIX,h-cdn.com
DOMAIN-SUFFIX,dw.com
DOMAIN-KEYWORD,pornhub
DOMAIN-SUFFIX,phncdn.com
DOMAIN-KEYWORD,xvideos
DOMAIN-KEYWORD,pincong
DOMAIN-SUFFIX,tw
DOMAIN-SUFFIX,fr
DOMAIN-SUFFIX,uk
DOMAIN-SUFFIX,xyz
DOMAIN-SUFFIX,gayfun.net
DOMAIN-SUFFIX,hotmail.com
DOMAIN-SUFFIX,ift.tt
DOMAIN-SUFFIX,ifttt.com
DOMAIN-SUFFIX,imageshack.us
DOMAIN-SUFFIX,img.ly
DOMAIN-SUFFIX,imgur.com
DOMAIN-SUFFIX,is.gd
DOMAIN-SUFFIX,live.com
DOMAIN-SUFFIX,live.net
DOMAIN-SUFFIX,nyt.com
DOMAIN-SUFFIX,nytimes.com
DOMAIN-SUFFIX,outlook.com
DOMAIN-SUFFIX,v2ex.com
DOMAIN-SUFFIX,vox-cdn.com
DOMAIN-SUFFIX,recaptcha.net
DOMAIN-SUFFIX,gadgethacks.com
DOMAIN-SUFFIX,giphy.com
DOMAIN-SUFFIX,ustvgo.org
DOMAIN-SUFFIX,jsdelivr.net
DOMAIN-SUFFIX,ustvgo.tv
DOMAIN-SUFFIX,stackpathcdn.com
DOMAIN-SUFFIX,rsc.cdn77.org
DOMAIN-SUFFIX,fmm.io
DOMAIN-SUFFIX,rudderstack.com
DOMAIN-SUFFIX,ntslive.net
DOMAIN-SUFFIX,cogecolive.com
DOMAIN-SUFFIX,routinehub.co
DOMAIN-SUFFIX,cableav.tv
