- DOMAIN-KEYWORD,aod.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,audio-ssl.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,audio.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,mvod.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,streamingaudio.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,blobstore.apple.com,AppleMusic
- DOMAIN-KEYWORD,music.apple.com,AppleMusic
- DOMAIN-KEYWORD,time.apple.com,AppleMusic
- DOMAIN-KEYWORD,itsliveradio.apple.com,AppleMusic
- DOMAIN-KEYWORD,tv.applemusic.com,AppleMusic
- DOMAIN-KEYWORD,covers.webradio.tools,AppleMusic
- DOMAIN-KEYWORD,amp-api-edge.music.apple.com,AppleMusic
- DOMAIN-KEYWORD,amp-api.music.apple.com,AppleMusic
- DOMAIN-KEYWORD,init.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,client-api.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,itsliveradiobackup.apple.com,AppleMusic
- DOMAIN-KEYWORD,cma.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,radio-activity.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,radio.itunes.apple.com,AppleMusic
- DOMAIN-KEYWORD,amp-api.podcasts.apple.com,AppleMusic
- DOMAIN-KEYWORD,news-assets.apple.com,AppleMusic
- DOMAIN-SUFFIX,dribbcast.com,AppleMusic
- DOMAIN-SUFFIX,ihrhls.com,AppleMusic
- DOMAIN-SUFFIX,akamaistream.net,AppleMusic
- DOMAIN-SUFFIX,streamguys.com,AppleMusic
- DOMAIN-SUFFIX,streamguys1.com,AppleMusic
- DOMAIN-SUFFIX,streamtheworld.com,AppleMusic
- DOMAIN-SUFFIX,houstonpublicmedia.org,AppleMusic
- DOMAIN-SUFFIX,soundvideostar.com,AppleMusic
- DOMAIN-SUFFIX,akamaihd.net,AppleMusic
- DOMAIN-SUFFIX,pdst.fm,AppleMusic
- DOMAIN-SUFFIX,podtrac.com,AppleMusic
- DOMAIN-SUFFIX,soundon.fm,AppleMusic
- DOMAIN-SUFFIX,radiotime.com,AppleMusic
- DOMAIN-SUFFIX,radiojar.com,AppleMusic
- DOMAIN-SUFFIX,ic975.com,AppleMusic
- DOMAIN-SUFFIX,leanstream.co
- DOMAIN-SUFFIX,crooze.fm
- DOMAIN-SUFFIX,infomaniak.ch
- DOMAIN-SUFFIX,silvacast.com
- DOMAIN-SUFFIX,defjay.com
