#Bing
DOMAIN-SUFFIX,bing.com
DOMAIN-SUFFIX,msn.com
DOMAIN-SUFFIX,bing.net
DOMAIN-SUFFIX,microsoftapp.net
DOMAIN-SUFFIX,microsoft-falcon.io
DOMAIN-KEYWORD,location.microsoft.com
DOMAIN-KEYWORD,events.data.microsoft.com
DOMAIN-KEYWORD,tiles.virtualearth.net

#Spotify
DOMAIN-KEYWORD,audio4-ak-spotify-com.akamaized.net
DOMAIN-KEYWORD,heads-ak-spotify-com.akamaized.net
DOMAIN-KEYWORD,spotify.com.edgesuite.net
DOMAIN-KEYWORD,spotify.map.fastly.net
DOMAIN-KEYWORD,spotify.map.fastlylb.net
DOMAIN-SUFFIX,audio-ak-spotify-com.akamaized.net
DOMAIN-SUFFIX,byspotify.com
DOMAIN-SUFFIX,heads4-ak-spotify-com.akamaized.net
DOMAIN-SUFFIX,pscdn.co
DOMAIN-SUFFIX,scdn.co
DOMAIN-SUFFIX,spoti.fi
DOMAIN-SUFFIX,spotify-com.akamaized.net
DOMAIN-SUFFIX,spotify-everywhere.com
DOMAIN-SUFFIX,spotify.com
DOMAIN-SUFFIX,spotify.design
DOMAIN-SUFFIX,spotifycdn.com
DOMAIN-SUFFIX,spotifycdn.net
DOMAIN-SUFFIX,spotifycharts.com
DOMAIN-SUFFIX,spotifycodes.com
DOMAIN-SUFFIX,spotifyforbrands.com
DOMAIN-SUFFIX,spotifyjobs.com
DOMAIN-SUFFIX,spotifynewsroom.jp
DOMAIN-SUFFIX,spotilocal.com
DOMAIN-SUFFIX,tospotify.com
IP-CIDR,104.154.127.126/32,no-resolve
IP-CIDR,35.186.224.47/32,no-resolve

#Applemusic
DOMAIN-SUFFIX,iheart.com
DOMAIN-SUFFIX,tunein.com
DOMAIN-KEYWORD,aod.itunes.apple.com
DOMAIN-KEYWORD,audio-ssl.itunes.apple.com
DOMAIN-KEYWORD,audio.itunes.apple.com
DOMAIN-KEYWORD,mvod.itunes.apple.com
DOMAIN-KEYWORD,streamingaudio.itunes.apple.com
DOMAIN-KEYWORD,blobstore.apple.com
DOMAIN-KEYWORD,music.apple.com
DOMAIN-KEYWORD,time.apple.com
DOMAIN-KEYWORD,itsliveradio.apple.com
DOMAIN-KEYWORD,tv.applemusic.com
DOMAIN-KEYWORD,covers.webradio.tools
DOMAIN-KEYWORD,amp-api-edge.music.apple.com
DOMAIN-KEYWORD,amp-api.music.apple.com
DOMAIN-KEYWORD,init.itunes.apple.com
DOMAIN-KEYWORD,client-api.itunes.apple.com
DOMAIN-KEYWORD,itsliveradiobackup.apple.com
DOMAIN-KEYWORD,cma.itunes.apple.com
DOMAIN-KEYWORD,radio-activity.itunes.apple.com
DOMAIN-KEYWORD,radio.itunes.apple.com
DOMAIN-KEYWORD,amp-api.podcasts.apple.com
DOMAIN-KEYWORD,news-assets.apple.com
DOMAIN-SUFFIX,dribbcast.com
DOMAIN-SUFFIX,ihrhls.com
DOMAIN-SUFFIX,akamaistream.net
DOMAIN-SUFFIX,streamguys.com
DOMAIN-SUFFIX,streamguys1.com
DOMAIN-SUFFIX,streamtheworld.com
DOMAIN-SUFFIX,houstonpublicmedia.org
DOMAIN-SUFFIX,soundvideostar.com
DOMAIN-SUFFIX,akamaihd.net
DOMAIN-SUFFIX,pdst.fm
DOMAIN-SUFFIX,podtrac.com
DOMAIN-SUFFIX,soundon.fm
DOMAIN-SUFFIX,radiotime.com
DOMAIN-SUFFIX,radiojar.com
DOMAIN-SUFFIX,ic975.com
DOMAIN-SUFFIX,leanstream.co
DOMAIN-SUFFIX,crooze.fm
DOMAIN-SUFFIX,infomaniak.ch
DOMAIN-SUFFIX,silvacast.com
DOMAIN-SUFFIX,defjay.com
USER-AGENT,AppleCoreMedia*

#Stirr/plutoTV
DOMAIN-KEYWORD,auth.adobe.com
DOMAIN-KEYWORD,sinclairstoryline.com
DOMAIN-KEYWORD,ocsp.digicert.com
DOMAIN-KEYWORD,firebaseapp.com
DOMAIN-KEYWORD,consent.trustarc.com
DOMAIN-KEYWORD,amazontrust.com
DOMAIN-KEYWORD,amazonaws.com
DOMAIN-KEYWORD,stirr.com
DOMAIN-KEYWORD,uplynk.com
DOMAIN-SUFFIX,pluto.tv
DOMAIN-SUFFIX,plutotv.net
DOMAIN-SUFFIX,cookielaw.org
