DOMAIN-SUFFIX,fengshows.com
#icloud/AppStore
DOMAIN-SUFFIX,autonavi.com
DOMAIN-SUFFIX,idmsa.apple.com
DOMAIN-SUFFIX,gsa.apple.com
DOMAIN-SUFFIX,mzstatic.com
DOMAIN-SUFFIX,icloud-content.com
DOMAIN-SUFFIX,icloud.com
DOMAIN-SUFFIX,cdn-apple.com
DOMAIN-SUFFIX,p22-buy.itunes.apple.com
DOMAIN-SUFFIX,p50-buy.itunes.apple.com
DOMAIN-SUFFIX,ls.apple.com
DOMAIN-SUFFIX,sandbox.itunes.apple.com
DOMAIN-SUFFIX,xp.apple.com
DOMAIN-SUFFIX,play.itunes.apple.com
DOMAIN-SUFFIX,bag.itunes.apple.com
DOMAIN-SUFFIX,downloaddispatch.itunes.apple.com
DOMAIN-SUFFIX,pancake.apple.com
DOMAIN-SUFFIX,testflight.apple.com
DOMAIN,apps.apple.com
DOMAIN,itunes.apple.com
DOMAIN,weather-data.apple.com
DOMAIN,api.smoot.apple.cn
DOMAIN-SUFFIX,aaplimg.com
DOMAIN-SUFFIX,appleicloud.cn
DOMAIN-SUFFIX,apple.com.cn
DOMAIN-SUFFIX,updates-http.cdn-apple.com
DOMAIN-SUFFIX,updates.cdn-apple.com
DOMAIN-SUFFIX,icloudsecure.net
DOMAIN-SUFFIX,icloudsetup.com
DOMAIN-SUFFIX,ios-icloud.com
USER-AGENT,AppStore*
USER-AGENT,TestFlight*
USER-AGENT,*WeatherFoundation*
DOMAIN-SUFFIX,me.com
DOMAIN-SUFFIX,akadns.net
DOMAIN-SUFFIX,akamaiedge.net
DOMAIN-SUFFIX,edgekey.net
DOMAIN-SUFFIX,mwcloudcdn.com
DOMAIN-SUFFIX,mwcname.com
DOMAIN-SUFFIX,apple-cloudkit.com
#ios升级
DOMAIN,appldnld-cdn.apple.com.akadns.net
DOMAIN,appldnld-cdn.origin-apple.com.akadns.net
DOMAIN,appldnld.apple.com.mwcname.com
DOMAIN,configuration.apple.com
DOMAIN,gdmf-cdn.apple.com.akadns.net
DOMAIN,gdmf-cdn.origin-apple.com.akadns.net
DOMAIN,gdmf-lb.apple.com.akadns.net
DOMAIN,gdmf.apple.com.mwcname.com
DOMAIN,gdmf.g.aaplimg.com
DOMAIN,gg-cdn.apple.com.akadns.net
DOMAIN,gg-cdn.origin-apple.com.akadns.net
DOMAIN,gg-lb.apple.com.akadns.net
DOMAIN,gg.apple.com
DOMAIN,gg.apple.com.akadns.net
DOMAIN,gg.apple.com.mwcname.com
DOMAIN,gg.g.aaplimg.com
DOMAIN,gnf-mdn.apple.com
DOMAIN,gnf-mr.apple.com
DOMAIN,gs.apple.com
DOMAIN,ig.apple.com
DOMAIN,iphonesubmissions-cdn.apple.com.akadns.net
DOMAIN,iphonesubmissions-cdn.origin-apple.com.akadns.net
DOMAIN,iphonesubmissions-lb.apple.com.akadns.net
DOMAIN,iphonesubmissions.apple.com
DOMAIN,iphonesubmissions.apple.com.akadns.net
DOMAIN,iphonesubmissions.apple.com.mwcname.com
DOMAIN,iphonesubmissions.g.aaplimg.com
DOMAIN,mesu-lb.apple.com.akadns.net
DOMAIN,mesu.apple.com.akadns.net
DOMAIN,mesu.apple.com.mwcname.com
DOMAIN,ns.itunes.apple.com
DOMAIN,ocsp-cdn.apple.com.akadns.net
DOMAIN,ocsp-cdn.origin-apple.com.akadns.net
DOMAIN,ocsp.apple.com.akadns.net
DOMAIN,ocsp.apple.com.mwcname.com
DOMAIN,oscdn.apple.com
DOMAIN,osrecovery.apple.com
DOMAIN,radarsubmissions-cdn.apple.com.akadns.net
DOMAIN,radarsubmissions-cdn.origin-apple.com.akadns.net
DOMAIN,radarsubmissions-lb.apple.com.akadns.net
DOMAIN,radarsubmissions.apple.com
DOMAIN,radarsubmissions.apple.com.akadns.net
DOMAIN,radarsubmissions.apple.com.mwcname.com
DOMAIN,radarsubmissions.g.aaplimg.com
DOMAIN,skl.apple.com
DOMAIN,swcdn.apple.com
DOMAIN,swdist.apple.com
DOMAIN,swdownload.apple.com
DOMAIN,swpost.apple.com
DOMAIN,swscan-cdn.apple.com.akadns.net
DOMAIN,swscan-cdn.origin-apple.com.akadns.net
DOMAIN,swscan-lb.apple.com.akadns.net
DOMAIN,swscan.apple.com
DOMAIN,swscan.apple.com.akadns.net
DOMAIN,swscan.apple.com.mwcname.com
DOMAIN,swscan.g.aaplimg.com
DOMAIN,updates-http.cdn-apple.com
DOMAIN,updates.cdn-apple.com
DOMAIN,xp-cdn.apple.com.akadns.net
DOMAIN,xp-cdn.origin-apple.com.akadns.net
DOMAIN,xp-lb.apple.com.akadns.net
DOMAIN,xp.apple.com.akadns.net
DOMAIN,xp.apple.com.mwcname.com
DOMAIN,xp.g.aaplimg.com
DOMAIN-SUFFIX,appldnld-lb.apple.com.akadns.net
DOMAIN-SUFFIX,appldnld.apple.com
DOMAIN-SUFFIX,appldnld.apple.com.akadns.net
DOMAIN-SUFFIX,appldnld.g.aaplimg.com
DOMAIN-SUFFIX,gdmf.apple.com
DOMAIN-SUFFIX,gdmf.apple.com.akadns.net
DOMAIN-SUFFIX,mesu-cdn.apple.com.akadns.net
DOMAIN-SUFFIX,mesu-cdn.origin-apple.com.akadns.net
DOMAIN-SUFFIX,mesu.apple.com
DOMAIN-SUFFIX,mesu.g.aaplimg.com
DOMAIN-SUFFIX,ocsp-lb.apple.com.akadns.net
DOMAIN-SUFFIX,ocsp.apple.com
DOMAIN-SUFFIX,ocsp.g.aaplimg.com
DOMAIN-KEYWORD,push.apple.com
DOMAIN-KEYWORD,apac-china-courier
