DOMAIN-SUFFIX,checkip.org
#Stirr.Pluto.TV
DOMAIN-SUFFIX,stirr.com
DOMAIN-SUFFIX,amagi.tv
DOMAIN-SUFFIX,llnwi.net
DOMAIN-SUFFIX,tubi.video
DOMAIN-SUFFIX,klowdtv.net
DOMAIN-SUFFIX,sinclairstoryline.com
DOMAIN-SUFFIX,amazonaws.com
DOMAIN-SUFFIX,amazontrust.com
DOMAIN-SUFFIX,hwcdn.net
DOMAIN-SUFFIX,pluto.tv
DOMAIN-SUFFIX,plutotv.net
DOMAIN-SUFFIX,xumo.com
DOMAIN-SUFFIX,uplynk.com
DOMAIN-SUFFIX,cbsnews.com
DOMAIN-SUFFIX,nbcuni.com
DOMAIN-SUFFIX,cloudfront.net
DOMAIN-SUFFIX,akamaized.net
DOMAIN-SUFFIX,mizhls.ru
DOMAIN-KEYWORD,cnn-cnninternational-1-eu.rakuten.wurl.tv
#AppleMusic
DOMAIN-SUFFIX,houstonpublicmedia.org
DOMAIN-SUFFIX,wnyc.org
DOMAIN-SUFFIX,radiotime.com
DOMAIN-SUFFIX,radiojar.com
DOMAIN-SUFFIX,iheart.com
DOMAIN-SUFFIX,tunein.com
DOMAIN,radio-activity.itunes.apple.com
DOMAIN,radio.itunes.apple.com
DOMAIN,amp-api.music.apple.com
DOMAIN,amp-api-edge.music.apple.com
#Podcast
DOMAIN,www.apple.com
DOMAIN,bag.itunes.apple.com
DOMAIN,bookkeeper.itunes.apple.com
DOMAIN,amp-api.podcasts.apple.com
